.support-central-liveboard-embed iframe,
.support-central-liveboard-embed,
.champagne-full-app-embed {
  min-height: 700px;
}

.tse-homepage-style {
  min-height: 700px;
}

.detailed-view iframe,
.detailed-view {
  height: 80%;
}

.sfdc-list iframe {
  min-height: 85vh;
  max-width: 600px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
}

/* .search-container > * {
  flex: 1;
}

.ant-select-selector {
  padding-right: 8px !important;
  min-width: fit-content;
}

.ant-select-selection-overflow {
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ant-select-selection-overflow-item {
  max-width: 100%;
} */

/* .ant-select-selection-item {
  overflow: visible;
  white-space: nowrap;
} */

.custom-multi-select {
  min-width: 250px !important;
  max-width: 100%;
  width: auto; /* Allows the width to grow with content, up to max-width */
}

.custom-multi-select .ant-select-selector {
  max-height: 100px; /* Adjust as needed */
  overflow-y: auto; /* Allows vertical scroll on overflow */
}

.TSEHomeRow {
  display: flex;
  justify-content: space-between;
}

.modalContent {
  padding: 20px;
}

.modalHeading {
  font-size: 24px;
  margin-bottom: 10px;
}

.modalSection {
  margin-bottom: 20px;
}

.modalSubheading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modalText {
  margin-left: 20px;
}
